@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

/* колір основного тексту Назва #212121 */
/* другорядний колір тексту rgba(117, 117, 117, 1) */
/* другорядний колір фону #F5F4FA */
/* перший фон після шапки #2F303A */
/* акцент 2196F3 */
/* білий #FFFFFF */
/* колір назви сторінки #FFFFFF */

:root {
  --primery-text-color: #212121;
  --title-text-color: rgba(117, 117, 117, 1);
  --second-text-color: rgba(255, 255, 255, 0, 6);
  --text-color-footer: #ffffff;
  --primery-fon-color: #ffffff;
  --title-fon-color: #2f303a;
  --accent-color: #2196f3;
  --color-button: #f5f4fa;
}

body {
  background-color: var(--primery-fon-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
}

.logo {


  color: var(--primery-text-color);
}
.style-logo {
  color: var(--accent-color);
}
.logo-footer {
  color: var(--text-color-footer);
}


}
/* Site-nave */
.site-nav .link {
  color: var(--primery-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.contacts-list .contacts-link {
  color: var(--title-text-color);
}
.contacts-list .link:focus,
.contacts-list .link:hover {
  color: var(--accent-color);
}

/*button*/
.portfolio-button {
  color: var(--color-button);
  background-color: var(--primery-text-color);
}
button:focus {
  color: var(--accent-color);
}
button:hover {
  color: var(--accent-color);
}
/*section-title*/

.proect-title {
  color: var(--title-text-color);
}

.title {
  color: var(--primery-text-color);
}

/*Footer*/

.order {
  background-color: var(--title-fon-color);
}
.order-title {
  color: var(--text-color-footer);
}
.order-title-list {
  color: var(--second-text-color);
}
